<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sjxy.book.dao.AdminMapper">


<select id="findById" parameterType="String" resultType="cn.sjxy.book.domain.Admin">
	select * from admin where aid=#{aid}
</select>

<insert id="saveAdmin" parameterType="cn.sjxy.book.domain.Admin">
	insert into admin(aid,password,flag,status) 
	values(#{aid},#{password},1,0)
</insert>

<select id="findAll" resultType="cn.sjxy.book.domain.Admin">
	select * from admin
</select>


</mapper>